@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
/*--------------------------------------------------------------------
Global
---------------------------------------------------------------------*/
$text-color: #fff;
$primary-color: #56A0EE;
$secondary-color: #FFA500;
$darkblue-color: #16394C;
$border: 1px solid #d5d5d5;
$scrollbar-color: #608094;

@mixin fonts($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin transition {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@mixin radius {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

body {
    font-family: 'Nunito', sans-serif;
    @include fonts(16px, 400, $text-color);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center/cover;
    min-height: 100vh;
    position: relative;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border-radius: 8px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

small {
    font-size: 12px;
}

a,
a:hover {
    color: #fff;
    text-decoration: none;
}

i,
svg {
    color: $primary-color;
    display: inline-block;
    pointer-events: none;
}

img {
    max-width: 100%;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

iframe {
    width: 100%;
}

figure {
    position: relative;

    img {
        display: block;
        width: 100%;
        @include transition;
    }
}

.btn {
    font-family: 'Nunito', sans-serif;
    @include transition;
}

.btn:focus,
.navbar-toggler:focus,
.form-control:focus,
.form-select:focus,
.accordion-button:focus {
    box-shadow: none;
}

.card-title {
    @include fonts(18px, 600, $text-color);
    margin: 0;
}

/*--------------------------------------------------------------------
Preloader
---------------------------------------------------------------------*/
#preloader {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loader-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    width: 6.250em;
    height: 6.250em;
    margin: 50px auto 0;
    position: relative;
    animation: rotate 2.4s linear infinite;

    .dot {
        width: 2.4em;
        height: 2.4em;
        margin: auto;
        border-radius: 100%;
        position: absolute;
    }

    .dot:nth-child(1) {
        background: $primary-color;
        top: 0;
        bottom: 0;
        left: 0;
        animation: dotsY 2.4s linear infinite;
    }

    .dot:nth-child(2) {
        background: $secondary-color;
        left: 0;
        right: 0;
        top: 0;
        animation: dotsX 2.4s linear infinite;
    }

    .dot:nth-child(3) {
        background: $darkblue-color;
        top: 0;
        bottom: 0;
        right: 0;
        animation: dotsY 2.4s linear infinite;
    }

    .dot:nth-child(4) {
        background: $scrollbar-color;
        left: 0;
        right: 0;
        bottom: 0;
        animation: dotsX 2.4s linear infinite;
        -webkit-animation: dotsX 2.4s linear infinite;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    10% {
        width: 6.250em;
        height: 6.250em;
    }

    66% {
        width: 2.4em;
        height: 2.4em;
    }

    100% {
        transform: rotate(360deg);
        width: 6.250em;
        height: 6.250em;
    }
}

@keyframes dotsY {
    66% {
        opacity: .1;
        width: 2.4em;
    }

    77% {
        opacity: 1;
        width: 0;
    }
}

@keyframes dotsX {
    66% {
        opacity: .1;
        height: 2.4em;
    }

    77% {
        opacity: 1;
        height: 0;
    }
}

/*--------------------------------------------------------------------
Scroll Up
---------------------------------------------------------------------*/
#scrollUp {
    color: #fff !important;
    line-height: 30px;
    padding: 0;
    border-radius: 5px 5px 0 0;
    background: $primary-color;
    height: 30px;
    margin-bottom: 0;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 100 !important;
}

#scrollUp:hover {
    height: 50px;
}

/*--------------------------------------------------------------------
Header
---------------------------------------------------------------------*/
header {
    margin: 50px 0;
}

.wrapper {
    padding-top: 16px;
    border: 5px solid $primary-color;
    background: rgba(22, 57, 76, 0.6);

    h2 {
        @include fonts(24px, 600, #fff);
        text-align: center;
    }
}

.logo {
    a {
        @include fonts(24px, 700, #fff);
    }

    img {
        width: 50px;
    }
}

.daily-weather {
    text-align: right;

    h3 {
        font-size: 24px;
    }
}

.single {
    margin-bottom: 16px;

    .table {
        color: #fff;

        th,
        td {
            padding: 0 4px 0;
        }
    }
}

.weekly-weather {
    .single {
        text-align: center;
        background: transparent;
        border: $border;

        h4 {
            font-size: 18px;
            margin-bottom: 8px;
        }
    }
}

/*--------------------------------------------------------------------
Responsive
---------------------------------------------------------------------*/
@media (max-width: 767.98px) {
    .logo {
        text-align: center;
    }

    .daily-weather {
        text-align: center;

        h3 {
            font-size: 20px;
        }
    }

    .single {
        text-align: center;
    }
}

@media (min-width: 992px) {
    header {
        margin: 0;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}