@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
/*--------------------------------------------------------------------
Global
---------------------------------------------------------------------*/
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center/cover;
  min-height: 100vh;
  position: relative;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #608094;
  border-radius: 8px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

small {
  font-size: 12px;
}

a,
a:hover {
  color: #fff;
  text-decoration: none;
}

i,
svg {
  color: #56A0EE;
  display: inline-block;
  pointer-events: none;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

iframe {
  width: 100%;
}

figure {
  position: relative;
}

figure img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn {
  font-family: 'Nunito', sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:focus,
.navbar-toggler:focus,
.form-control:focus,
.form-select:focus,
.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

/*--------------------------------------------------------------------
Preloader
---------------------------------------------------------------------*/
#preloader {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loader-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader {
  width: 6.250em;
  height: 6.250em;
  margin: 50px auto 0;
  position: relative;
  -webkit-animation: rotate 2.4s linear infinite;
          animation: rotate 2.4s linear infinite;
}

.loader .dot {
  width: 2.4em;
  height: 2.4em;
  margin: auto;
  border-radius: 100%;
  position: absolute;
}

.loader .dot:nth-child(1) {
  background: #56A0EE;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: dotsY 2.4s linear infinite;
          animation: dotsY 2.4s linear infinite;
}

.loader .dot:nth-child(2) {
  background: #FFA500;
  left: 0;
  right: 0;
  top: 0;
  -webkit-animation: dotsX 2.4s linear infinite;
          animation: dotsX 2.4s linear infinite;
}

.loader .dot:nth-child(3) {
  background: #16394C;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: dotsY 2.4s linear infinite;
          animation: dotsY 2.4s linear infinite;
}

.loader .dot:nth-child(4) {
  background: #608094;
  left: 0;
  right: 0;
  bottom: 0;
  animation: dotsX 2.4s linear infinite;
  -webkit-animation: dotsX 2.4s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    width: 6.250em;
    height: 6.250em;
  }
  66% {
    width: 2.4em;
    height: 2.4em;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    width: 6.250em;
    height: 6.250em;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    width: 6.250em;
    height: 6.250em;
  }
  66% {
    width: 2.4em;
    height: 2.4em;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    width: 6.250em;
    height: 6.250em;
  }
}

@-webkit-keyframes dotsY {
  66% {
    opacity: .1;
    width: 2.4em;
  }
  77% {
    opacity: 1;
    width: 0;
  }
}

@keyframes dotsY {
  66% {
    opacity: .1;
    width: 2.4em;
  }
  77% {
    opacity: 1;
    width: 0;
  }
}

@-webkit-keyframes dotsX {
  66% {
    opacity: .1;
    height: 2.4em;
  }
  77% {
    opacity: 1;
    height: 0;
  }
}

@keyframes dotsX {
  66% {
    opacity: .1;
    height: 2.4em;
  }
  77% {
    opacity: 1;
    height: 0;
  }
}

/*--------------------------------------------------------------------
Scroll Up
---------------------------------------------------------------------*/
#scrollUp {
  color: #fff !important;
  line-height: 30px;
  padding: 0;
  border-radius: 5px 5px 0 0;
  background: #56A0EE;
  height: 30px;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 100 !important;
}

#scrollUp:hover {
  height: 50px;
}

/*--------------------------------------------------------------------
Header
---------------------------------------------------------------------*/
header {
  margin: 50px 0;
}

.wrapper {
  padding-top: 16px;
  border: 5px solid #56A0EE;
  background: rgba(22, 57, 76, 0.6);
}

.wrapper h2 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.logo a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.logo img {
  width: 50px;
}

.daily-weather {
  text-align: right;
}

.daily-weather h3 {
  font-size: 24px;
}

.single {
  margin-bottom: 16px;
}

.single .table {
  color: #fff;
}

.single .table th,
.single .table td {
  padding: 0 4px 0;
}

.weekly-weather .single {
  text-align: center;
  background: transparent;
  border: 1px solid #d5d5d5;
}

.weekly-weather .single h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

/*--------------------------------------------------------------------
Responsive
---------------------------------------------------------------------*/
@media (max-width: 767.98px) {
  .logo {
    text-align: center;
  }
  .daily-weather {
    text-align: center;
  }
  .daily-weather h3 {
    font-size: 20px;
  }
  .single {
    text-align: center;
  }
}

@media (min-width: 992px) {
  header {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}
/*# sourceMappingURL=style.css.map */